body {
    background-color: #203448;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #1b2632;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
        
        

h1 {
    text-align: center;
    color: #ffbd39;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

label {
    color: #fff;
    margin-bottom: 5px;
}

.lab,
.lab-date,
.lab-textarea {
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
}

.lab-textarea {
    width: 100%;
}

.rad {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #fff;
}

input,
select,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #ffbd39;
}

.buttonG {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e39d04;
    color: white;
}

.btn1 {
    background-color: #e39d04;
    color: white;
}

.resetb {
    background-color: transparent;
    border: 1px solid #e39d04;
    color: #e39d04;
}