.page {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: 'inter', sans-serif;
  overflow-y: hidden;
  
}

.main-content {
  margin-left: 20%;
  padding-top: 80px;   
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  background-color: #FEFDFB;
}

.header {
  position: fixed;
  top: 0;
  left: 20%;          
  width: 80%;      
  height: 80px;
  background-color: #FDFAF6;
  color: #174e36;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  margin: 0;
  color: #174e36;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

.header h2 span {
  color: #dcaf48;
}

.part1, .part2 {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  background-color: #FDFAF6;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  padding: 20px;

  
}

.logo-dash {
  display: flex;
  flex-direction: row;
  width: 232px;
  height: 56px;
  margin-bottom: 30px;
  align-items: center;
}

.logo-dash p {
  margin-left: 8px;
  margin-top: 10px;
  align-items: center;
  color: #174e36;
  font-size: 15px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  color: #174e36;
  text-decoration: none;
  font-weight: 500;
}

.nav-item:hover {
  background-color: rgba(220, 175, 72, 0.1);
  padding: 5px 10px;
  border-radius: 6px;
  color: #dcaf48;
  cursor: pointer;
}
.nav-item.active {
  background-color: rgba(220, 175, 72, 0.1);
  padding: 5px 10px;
  border-radius: 6px;
  color: #dcaf48;
}
.settings-logout{
  margin-top: 250px; ;
}

.Overall-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}
.Overall-content div{
  text-align: center;
  border-radius: 12px;
  width: 25%;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}
.Overall-content div:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.Overall-content h4{

  color: #5796ef;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}
.overall-value {
  
  font-size: 18px;
  font-weight: 700;
  color: #2c3e50;
  margin-top: 10px;
  margin-bottom: 5px;
}
.overall-desc {
  font-size: 13px;
  color: #95a5a6;
}
.add-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
.table-section{
  background: white;
  border-radius: 12px;
  padding: 25px;
  margin: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.table-heder, .table-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: #2c3e50;
  margin-bottom: 10px;
}
.table-heder h3{
  color: #2c3e50;
  font-size: 20px;
}
.gold-btn{
  background-color: #dcaf48;
  color: white;
  font-size: 14px;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.gold-btn:hover{
  background-color: #e2c173;
  color: white;
}
.my-btn{
  color: #5D6679 !important;
  font-size: 14px !important;
}

.table-bottom{
  margin-top: 10px;
}
.page-desc {
  font-size: 13px;
  color: #95a5a6;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Table Styling */
.table-body {
  width: 100%;
  overflow-x: auto;
  margin: 20px;
}
.table-body table {
  width: 100%;
  border-collapse: collapse;
}

.table-body thead th {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #6b7280;
  padding-bottom: 10px;
  text-align: center;
}

.table-body tbody td {
  font-size: 14px;
  color: #374151;
  padding: 12px 0;
  text-align: center;
}

.table-body tbody tr:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

/* Align numbers nicely */
.table-body td:nth-child(2),
.table-body td:nth-child(3),
.table-body td:nth-child(4) {
  text-align: center;
}

/* Price styling */
.table-body td:last-child {
  font-weight: 600;
  color: #12B76A;
}
/* Responsive Design */
@media (max-width: 1024px) {
  .sidebar {
    width: 25%;
  }

  .header {
    left: 25%;
    width: 75%;
  }

  .main-content {
    margin-left: 25%;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 70%;
    transform: translateX(-100%);
    transition: 0.3s;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .header {
    left: 0;
    width: 100%;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }
}
